.activities-list {
  margin-top: 30px;
  text-align: center;
}

.activities-list h2 {
  text-decoration: underline;
}

.list-tags-container {
  max-height: 200px;
  border: solid 1px #bbb;
  overflow: scroll;
  width: 500px;
  text-align: center;
  margin: 20px auto 30px auto;
}

.list-tags-container ul li {
  margin: 20px 30px 20px 30px;
  padding: 5px 0px 5px 0px;
}

.list-tags-container ul li:before {
  content: ">>";
  padding-right: 5px;
}

.list-tags-container ul li:hover {
  background-color: #ddd;
}