.visual-container{
  display: flex;
}

.tab-holder{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 70px;
}

.tab{
  height: 50px;
  padding: 0px 50px 0px 50px;
  transform: rotate(270deg);
  display: flex;
  align-items: center;
  justify-content: center;
}